body {
  min-width: 1024px;
  margin: 0 3px 0 0;
  font: 12px/18px "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial,
    Verdana, sans-serif;
}
article {
  background-image: url("../img/your_verse_hero.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  border: 0;
  margin: -20px 0 0 0;
  width: 100%;
  height: 665px;
}
header {
  display: block;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}
header a {
  text-decoration: none;
  color: white;
}
header h1 {
  margin-right: auto;
  margin-left: auto;
  font-size: 64px;
  font-weight: 200;
  line-height: 36px;
}
header h2 {
  margin-right: 10%;
  margin-left: 10%;
  font-size: 30px;
  line-height: 46px;
  font-weight: 200;
}
h3 {
  font-size: 26px;
  font-weight: 200;
}
h3 a:hover {
  text-decoration: underline;
}
h3 i {
  margin-left: 10px;
  color: white;
}
aside {
  display: grid;
  grid-template-columns: repeat(4, minmax(255px, 1fr));
  grid-template-rows: auto;
  grid-gap: 2px;
  max-width: 100%;
  height: 200px;
  justify-content: center;
  margin: 2px 0 0 0;
}
aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 22px;
  font-size: 0.843em;
  color: #333;
}
nav {
  position: relative;
  display: block;
  top: 50px;
  margin: 10px auto;
  width: 980px;
  height: 36px;
  z-index: 2;
  border-radius: 4px;
  background: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(rgba(0, 0, 0, 0.2)),
      color-stop(0.05, rgba(0, 0, 0, 0)),
      color-stop(0.97, rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 0.45))
    ),
    -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFW…px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC)
      no-repeat 50% 50%,
    -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  list-style-type: none;
}
nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
}
nav li {
  display: block;
  padding-top: 16px;
  width: 105px;
  height: 36px;
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 980px;
}
.shop {
  padding: 8px 0 0 0;
}
.links ul {
  display: inline-block;
  line-height: 12px;
}
.links ul li {
  display: inline-block;
  margin-right: 0.6em;
  padding-right: 0.6em;
  border-right: 1px solid #ccc;
}
.wrapper a {
  color: #08c;
  text-decoration: none;
}
#country {
  padding-top: 0.5em;
  border-right: 2px solid white;
}
