body {
  min-width: 1024px;
  margin: 0 3px 0 0;
  font: 12px/18px "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial,
    Verdana, sans-serif;
}
article {
  background-image: url("../img/your_verse_hero.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  border: 0;
  margin: -20px 0 0 0;
  width: 100%;
  height: 665px;
}
h1 {
  font-size: 24px;
  line-height: 36px;
}
aside {
  display: grid;
  grid-template-columns: repeat(4, minmax(255px, 1fr));
  grid-template-rows: auto;
  grid-gap: 2px;
  max-width: 100%;
  height: 200px;
  justify-content: center;
  margin: 2px 0 0 0;
}
aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#one {
  background: url("../img/promo_iphone5s.jpg") 0 0 no-repeat;
  /* background-size: auto 75%; */
  height: 200px;
}
footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 22px;
  font-size: 0.833em;
  color: #333;
}
nav {
  position: relative;
  top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: aquamarine;
}
.links ul {
  display: inline;
  line-height: 12px;
}
.links ul li {
  display: inline-block;
  margin-right: 0.6em;
  padding-right: 0.6em;
  border-right: 1px solid #ccc;
}
#country {
  background-color: #000099;
  border: 0 solid white;
}
.left {
  float: left;
  clear: both;
}
